body{
    background-color: #837a91;
}

.writingPanel{
    padding: 2px;
    height: 250px;
    width: 100%;
    margin:0px 2px 0px 1px;
}
.pad{
    padding: 2px;
    width: 100%;
    height: 90%;
    resize: none;
    background-color: #645e6e;
    color: #e4e1e8;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
    .panel{
        padding: 2px;
        height: 200px;
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
}

