body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#header{
    width: 100%;
    height: 30px;
    background-color: darkgrey;
    padding: 6px;
}

.darkMode{
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin-right: 50px;
}

#logo{
    float: left;
    font-weight: bold;
    font-size: 120%;
    padding: 3px;
}

#buttonContainer{
    width: 295px;
    margin: 0 auto;
}

.active{
    background-color: lightblue;
}

.highlightedButton{
    background-color: grey;
}

.toggleButton{
    float:left;
    border: 2px solid green;
    padding: 0.3rem;
    border-radius: 5px;
}

#htmlPanel{
    border-top: none;
}

iframe{
    border: 2px solid black;
    padding: 1px;
}

textarea{
    width: 50%;
    border-right: none;
}

.panel{
    width: 50%;
}

.hidden{
    display: none;
}



